@import '../_vars';

body {
    background-color: $main-dark;
}
[class*="col-"] {
    /*margin: 0!important;*/
    padding: 0!important;
}
.categories {
	width: 360px;
    min-height: 11px;
}
.row {
	background-color: white;
    margin-right: 0px!important;
    margin-left: 0px!important;
}