html, p, body, div, ul, li, table, th, tr, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  list-style-type: none;
  border-collapse: collapse;
}

body {
  margin: 0 auto;
  background: gray;
  min-width: 800px;
  max-width: 1500px;
  width: auto;
}

main {
  overflow: hidden;
}

/*Name + description*/

.main-name {
  text-align: center;
  font-size: 12rem;
  color: black;
  font-family: 'Champignon Script', serif;
  margin-top: 11rem;
}

.main-description {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-family: 'ProximaNova-RegularIt', serif;

}

/*Social links*/
.main-links {
  width: 14rem;
  height: 2rem;
  clear: both;
  margin-top: 12rem;
  margin-left: 47%;
}

.fb,
.linkedin,
.git{
  width: 2rem;
  height: 2rem;
  float: left;
  margin-right: 1rem;
  border-radius: 0.6rem;
}
.fb {
  background: url("../images/icon/facebook.svg");
  background-size: cover;
}

.linkedin {
  background: url("../images/icon/linkedin.svg");
  background-size: cover;
}

.git {
  background: url("../images/icons8-GitHub Filled-50-2.png");
  background-size: cover;
}

.fb:hover {
  box-shadow: 0 0 0.2rem 0.2rem #4267b2;
}

.linkedin:hover {
  box-shadow: 0 0 0.2rem 0.2rem #0073b1;
}

.git:hover {
  box-shadow: 0 0 0.2rem 0.2rem #24292e;
}

/*Main blocks*/

.main-upper {
  background: url("../images/city.jpg");
  background-size: cover;
  max-width: 100%;
  height: 65rem;
  padding: 4rem;
}

.main-about {
  background: url("../images/romb.jpg");
  background-size: cover;
  max-width: 100%;
  height: 58rem;
  padding: 7rem 2rem;
}

.main-portfolio {
  background: url("../images/romb1.jpg");
  background-size: cover;
  max-width: 100%;
  height: 58rem;
  padding: 3rem 3rem;
}

.main-skills {
  background: url("../images/romb2.jpg");
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding: 3rem 3rem;
}

.about-title,
.about-me,
.portfolio-title,
.portfolio-row,
.skills-left {
  margin-left: 50px;
}

.about-title,
.portfolio-title,
.skills-title {
  font-size: 5rem;
  font-family: 'RobotoSlab-Thin', sans-serif;
}

.skills-text,
.about-me {
  font-size: 2rem;
  color: #f6f6f6;
  font-family: 'RobotoSlab-Thin', serif;
}

/*About me*/

.about-title {
  color: #17fdf4;
}

.about-me {
  width: 40%;
  margin-right: 165px;
  display: inline-block;

}

/* Download CV  */

.cv {
  text-align: center;
  padding-top: 59px;
  padding-bottom: 100px;
  max-width: 40%;
  display: inline-block;
  position: absolute;
  margin-left: 65px;
}

.cv-text {
  color: white;
  font-family: 'S', sans-serif;
  font-size: 1.5rem;
}

.cv a {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 35px;
  color: #00ff6c;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #00ff6c;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* My works */

.portfolio-title {
  color: #e3e652db;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-wrapper {
  overflow: hidden;
  width: 400px;
  /* height: 220px; */
  /* min-height: 200px; */
  opacity: 0.7;
  /* background: rgba(0,0,0,.5); */
  margin-bottom: 70px;
  border-radius: 40px;
}

.project-wrapper:hover {
  opacity: 1;
}

.img-block {
  /* //position: absolute; */
  z-index: 3;
  display: block;
  cursor: pointer;
  width: 400px;
  min-height: 200px;
  -moz-transition: all 0.9s ease-out;
  -o-transition: all 0.9s ease-out;
  -webkit-transition: all 0.9s ease-out;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

}

.portfolio-img {
  width: 400px;
  height: 200px;
}

.img-block:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 40px;
}

.img-block:hover > .portfolio-text {
  top: 0;
  min-height: 80px;
  transition: 0.6s;
  padding-left: 20px;
  padding-top: 20px;
  border-radius: 40px;
}

.portfolio-text {
  position: absolute;
  color: #ffffff;
  top: -100px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.61);
  height: 0;
  width: 100%;
  -webkit-transition: height, top .5s ease-in-out;
  -moz--transition: height, top .5s ease-in-out;
  transition: height, top .5s ease-in-out;
  padding: 10px;
  font-family: 'Josefin Slab', serif;

}

/*Skills*/

.skills-left {
  color: #f6f6f6;
  font-family: 'RobotoSlab-Thin', serif;
  display: inline-block;
  float: left;
  width: 39%;
}

.skills-title {
  width: 55%;
  color: #22fd21;
}

.skills-text {
  float: left;
  /* width: 55%;
  margin-left: 52px; */
  padding: 0;
}

.skills-text span{
  font-weight: bolder;
}

.my-skills {
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills img {
  background-repeat: no-repeat;
}

.skills-right {
  /* float: right; */
  display: inline-block;
  max-width: 58%;
  padding: 2px;
  margin-top: 100px;
  margin-right: -57px;
}

.skills-right img {
  /*padding-left: 110px;*/
  /*width: 100px;*/
  /*height: 100px;*/
  padding-bottom: 10px;
  width:auto;
}

.html {
  padding-left: 153px;
  width: auto;
  height: 95px;
}
.css {
  padding-left: 110px;
  width: 100px;
  height: 100px;}
.js {
  padding-left: 110px;
  width: auto;
  height: 84px;}
.node {
  padding-left: 110px;
  width: 100px;
  height: 100px;}
.react {
  padding-left: 61px;
  width: 100px;
  height: 100px}
.redux {
  padding-left: 101px;
  width: 100px;
  height: 91px;}
.boots {
  padding-left: 164px;
  width: 100px;
  height: 77px;}
.github{
  padding-left: 118px;
  width: 100px;
  height: 100px;}
.mater {
  padding-left: 98px;
  width: 100px;
  height: 93px;}
/* Connecting fonts */
@font-face {
  font-family: 'Champignon Script';
  src: local('Champignon Script'), url('../fonts/Champignon Script.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'RobotoSlab-Thin';
  src: local('RobotoSlab-Thin'), url('../fonts/RobotoSlab-Thin.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'S';
  src: local('S'), url('../fonts/S.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: local('ProximaNova-RegularIt'), url('../fonts/ProximaNova-RegularIt.ttf');
  font-weight: 300;
}

  @media all and (min-width: 319px) and (max-width: 800px) {
  body {
    min-width: 423px;
    max-width: 800px;
  }

  /*Main blocks*/
  .main-upper {
    background: url("../images/city.jpg") no-repeat center center;
  }
  .main-about {
    height: 70rem;
  }

  .main-skills,
  .main-portfolio {
    height: auto;
  }

  .about-title,
  .about-me,
  .portfolio-title,
  .portfolio-row,
  .skills-left {
    margin-left: 25px;
  }

  .skills-text,
  .about-me {
    font-size: 1.8rem;
  }

  /*first block*/
  .main-name {
    font-size: 9rem;
  }

  .main-description {
    font-size: 2rem;
  }

  /*About me */

  .about-me {
    display: block;
    width: 85%;
    margin-right: 0;
  }

  .cv {
    max-width: 100%;
    display: block;
    position: absolute;
  }

  .cv:after {
    clear: both;
  }

  /* My works */
  .portfolio-row {
    display: inline-block;
  }

  .project-wrapper {
    width: 285px;
    margin-bottom: 70px;
    border-radius: 40px;
  }

  /*Skills*/
  .skills-left {
    display: block;
    width: 93%;
  }

  .skills-title {
    width: 76%;
  }

  .skills-right img {
    padding-left: 0;
    width: 63px;
    visibility: hidden;
  }

}
