ul {
    position: relative;
    width: 300px;
    /*top: 50px;*/
    list-style: none;
    border: 1px solid #efefef;
    box-shadow: 5px 5px 5px #888888;
    margin: 15px;
    li {
        display: block;
        /*margin-left: 35px;*/
        background-color: #fff;
        padding: 10px 0 10px 35px;
        color: #3e77aa;

    }
    
    li:hover {
        background-color: lightgrey; 
    }
}

.categoryMenu:last-child {
        display: none;
        }
.categoryMenu:nth-child(14) {
        display: none;
        }

/*@media screen and (min-width: 1000px) {
    .menu {
        display: block;
        position: relative!important;
        top: 0!important;
    }
}*/

@media screen and (max-height: 330px) {
    .menu {
        position: relative!important;
        top: 0!important;
    }
}

